<header>
	<div class="bar">
		<form [formGroup]="queueForm">
			<table>
				<tbody>
				<tr>
					<td *ngIf="consumers.length > 0">
						<select (change)="selectConsumer($event)">
							<option *ngFor="let consumer of consumers; let index = index" [value]="index">{{consumer.name}}</option>
						</select>
					</td>
					<td *ngIf="queueService.consumer">
						<select formControlName="blog">
							<option *ngFor="let blog of queueService.consumer.user.blogs" [value]="blog.blogId">{{blog.tumblr.name}}</option>
						</select>
					</td>
					<ng-template ngIf="(queueService.posts$ | async).length > 0">
						<td>
							<button (click)="queueService.queue(queueForm.value.blog)" [ngClass]="{
						'ready': queueService.selectedPostsCount() > 0
						}">Queue {{queueService.selectedPostsCount()}}</button>
						</td>
						<td>
							<button (click)="queueService.selectPostByNoteCount(0)">0+</button>
						</td><td>
						<button (click)="queueService.selectPostByNoteCount(1000)">1K+</button>
					</td>
						<td>
							<button (click)="queueService.selectPostByNoteCount(10000)">10K+</button>
						</td>
						<td>
							<button (click)="queueService.selectPostByNoteCount(100000)">100K+</button>
						</td>
					</ng-template>
				</tr>
				</tbody>
			</table>
		</form>
	</div>
	<h1>{{title}}</h1>
	<h2>{{quote}}</h2>
	<div>
		<form [formGroup]="postsForm">
			<table>
				<tbody>
				<tr>
					<td>
						<div class="form-element">
							<select class="form-control" id="country" formControlName="type">
								<option *ngFor="let type of types" [value]="type.value">{{type.title}}</option>
							</select>
						</div>
					</td>
					<td>
						<div class="form-element">
							<input type="text" placeholder="Blog Name" formControlName="blog">
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="form-element">
							<input type="text" placeholder="Tag" formControlName="tag" class="form-element-input-tag">
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="form-element">
							<button (click)="load(undefined)">Load</button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</form>
	</div>
</header>
<main>
	<div class="post-elements">
		<app-post *ngFor="let post of queueService.posts$ | async; trackBy: trackByIdentity" [post]="post">
		</app-post>
	</div>
</main>
<footer></footer>
