<header>
	<h1>{{title}}</h1>
	<h2>{{quote}}</h2>
</header>
<main>
	<div>
		<form>
			<table>
				<tbody>
				<tr>
					<td>
						<div class="form-element">
							<select class="form-control" id="country" [formControl]="type">
								<option *ngFor="let type of types" [ngValue]="type.value">{{type.title}}</option>
							</select>
						</div>
					</td>
					<td>
						<div class="form-element">
							<input type="text" placeholder="Blog Name" [formControl]="blog">
						</div>
					</td>
					<td>
						<div class="form-element">
							<button (click)="load()">Load</button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</form>
	</div>
	<div class="post-elements">
		<app-post *ngFor="let post of posts; trackBy:trackByIdentity" [post]="post">
		</app-post>
	</div>
</main>
<footer></footer>
